body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
.container,
h1,
h3 {
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
}

header {
  background-color: black;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.newbookbtn {
  height: 30px;
  width: 150px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: 2px solid white;
}

.newbookbtn:hover {
  background-color: white;
  color: black;
  transition: 150ms ease-in-out;
}

main {
  height: 100vh;
}

main h1,
h3 {
  text-align: center;
}

.books-container {
  /* background-color: red; */
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, 260px);
  gap: 20px;
  padding: 30px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 20px 20px 15px;
  border-radius: 15px;
  padding: 10px;
  max-height: 260px;
}

.readbtn {
  margin-bottom: 5px;
}

.form-modal {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 5;
  width: 400px;
  height: 450px;
  max-width: 80%;
  border-radius: 15px;
}

.form-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 200ms ease-in-out;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.form-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

input {
  height: 20px;
  padding: 7px;
  font-weight: 500;
  font-size: 15px;
}

label {
  font-weight: 600;
}

.btn,
.bookbtn {
  /* background-color: #b9b5b5; */
  color: black;
  height: 40px;
  font-weight: 800;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  width: 100%;
  border: 1px solid black;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn:hover {
  background-color: black;
  color: white;
  transition: 150ms ease-in-out;
}

.read {
  background-color: rgb(0, 255, 0);
  height: 3px;
}

.notread {
  background-color: red;
  height: 3px;
}

.msg {
  /* display: none; */
  color: red;
  margin: 0;
}
